.van-overflow-hidden
// dialog
  .van-dialog
    bg-color(var(--dialog-bgcolor))
    color $w
    .van-dialog__message
      color $w
    button
      bg-color(var(--dialog-bgcolor))
      color var(--dialog-btn-color)