mixin-font(color, size = $font-size-md, weight = $font-weight-n)
  color color
  font-size size
  font-weight weight

bg-color(bgcolor)
  background-color bgcolor

bd-radius(radius = $border-radius-xs)
  border-radius radius

missing-corner(background = var(--body-bgcolor), size)
  background background
  background-size size
  background-repeat no-repeat

absolute-center()
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  
