$font-weight-n = 400
$font-weight-sm = 500
$font-weight-md = 600
$font-weight-lg = 700

$font-size-xs = 10px
$font-size-sm = 12px
$font-size-md = 14px
$font-size-lg = 16px

$padding-base = 4px
$padding-xs = 8px
$padding-sm = 12px
$padding-md = 16px
$padding-lg = 24px
$padding-xl = 32px

$border-radius-xs = 8px